/* Fonts */

/* pt-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'),
    url('../fonts/ptsans.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/ptsans.woff') format('woff'); /* Modern Browsers */
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('../fonts/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/ptsansbold.woff') format('woff'); /* Modern Browsers */
}

/* Variables */

:root {
    --basic-black: #000000;
    --basic-light-black: #231F20;
    --basic-white: #FFFFFF;

    --basic-light-blue: #81B3D2;
    --basic-blue: #669EC0;
    --basic-dark-blue: #5496BD;

    --basic-milk-chocolate: #766357;
    --basic-chocolate: #604E43;
    --basic-dark-chocolate: #503E33;

    --basic-extra-light-grey: #EEEEEE;
    --basic-light-grey: #CACACA;
    --basic-neutral-grey: #BDBBBC;
    --basic-middle-grey: #A9A9A9;
    --basic-grey: #888888;
    --basic-neutral-dark-grey: #666666;
    --basic-dark-grey: #6A6A6A;
    --basic-extra-dark-grey: #333333;

    --basic-light-silver: #F2F2F2;
    --basic-silver: #EBEBEB;
    --basic-neutral-silver: #E5E5E5;
}

/* Global */

body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-extra-dark-grey);
    text-transform: uppercase;
    background-color: var(--basic-grey);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    background-color: var(--basic-light-blue);
}

.visually-hidden {
    display: none;
}

/* Main navigation */

.main-header {
    background-color: var(--basic-white);
    width: 1200px;
    margin: auto;
}

.main-navigation {
    text-align: center;
    background-color: var(--basic-white);
}

.site-navigation {
    margin: 0;
}

.site-navigation li {
    list-style-type: none;
    font-weight: bold;
    line-height: 26px;
    color: var(--basic-black);
}

.current-nav-item {
    color: var(--basic-milk-chocolate);
}

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover {
    color: var(--basic-light-blue);
}

.site-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

/* Main content */

.container {
    background-color: var(--basic-white);
    width: 1200px;
    margin: auto;
}

.first-screen-block {
    text-align: center;
}

.reasons-list {
    text-align: center;
    line-height: 26px;
}

.reasons-list-title {
    font-weight: bold;
    font-size: 21px;
    color: var(--basic-black);
}

.reason-item {
    background-color: var(--basic-extra-light-grey);
    color: var(--basic-black);
}

.reason-item-with-image {
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
}

.reason-title {
    font-weight: bold;
    font-size: 21px;
}

.recommendations-list {
    list-style-type: none;
}

.recommendation-title {
    font-weight: bold;
    font-size: 21px;
    color: var(--basic-black);
}

.search-title-block {
    text-align: center;
    color: var(--basic-black);
    padding: 132px 383px;
}

.trigger-button {
    text-align: center;
    color: var(--basic-white);
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 30px 125px;
    border: none;
    outline: none;
}

.more-info-button {
    text-align: center;
    color: var(--basic-white);
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 3px 16px;
    border: none;
    outline: none;
}

.form-trigger {
    background-color: var(--basic-milk-chocolate);
}

.form-trigger:hover {
    background-color: var(--basic-chocolate);
}

.form-trigger:active {
    background-color: var(--basic-dark-chocolate);
}

.form-trigger:active .trigger-text {
    opacity: 30%;
}

.search-button {
    text-align: center;
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 16px 182px;
    border: none;
    outline: none;
}

.button {
    background-color: var(--basic-light-blue);
}

.button:hover {
    background-color: var(--basic-blue);
}

.button:active {
    background-color: var(--basic-dark-blue);
}

.button:active .button-text {
    opacity: 30%;
}

.search-container-map {
    text-align: center;
}

/* Footer */

.main-footer {
    color: var(--basic-black);
    line-height: 26px;
    opacity: 0.9;
    background-color: var(--basic-white);
    width: 1200px;
    margin: auto;
}

.footer-contacts {
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    margin: 0;
}

.footer-contacts p {
    margin: 0;
}

.footer-social {
    text-align: center;
}

.footer-social-list {
    list-style-type: none;
}

.social-button {
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
}

.footer-copyright {
    text-align: center;
    margin: 0;
}

.copyright-link {
    color: var(--basic-black);
}

.copyright-link:hover {
    color: var(--basic-blue);
}

.copyright-link:active {
    color: var(--basic-neutral-grey);
}

.offers-list {
    list-style-type: none;
    margin: 0;
}

.offer-item {
    border-top: 2px solid var(--basic-light-silver);
    border-bottom: 2px solid var(--basic-light-silver);
}

.offer-item-photo {
    background-color: var(--basic-light-blue);
}

.offer-item-name {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.offer-item-name:hover {
    color: var(--basic-light-blue);
}

.offer-item-name:active {
    opacity: 0.3;
}

.offer-item-type {
    color: var(--basic-extra-dark-grey);
}

.offer-item-price {
    color: var(--basic-extra-dark-grey);
}

.rating-block {
    width: max-content;
}

.rating-stars {
    list-style-type: none;
}

.rating-stars img {
    background-color: var(--basic-light-blue);
}

.rating {
    margin: 0;
    color: var(--basic-neutral-dark-grey);
    padding: 3px 13px;
    background-color: var(--basic-light-silver);
}

.filter-button button {
    opacity: 100%;
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    color: var(--basic-white);
    text-align: center;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 7px 35px;
    border-radius: 2px;
    outline: none;
}

.filter-button button:hover {
    background-color: var(--basic-white);
    border: 2px solid var(--basic-white);
    color: var(--basic-black);
}

.total-offers {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.background-image {
    text-align: center;
}