/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Fonts */

/* pt-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'),
    url('../fonts/ptsans.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/ptsans.woff') format('woff'); /* Modern Browsers */
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('../fonts/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/ptsansbold.woff') format('woff'); /* Modern Browsers */
}

/* Variables */

:root {
    --basic-black: #000000;
    --basic-light-black: #231F20;
    --basic-white: #FFFFFF;

    --basic-light-blue: #81B3D2;
    --basic-blue: #669EC0;
    --basic-dark-blue: #5496BD;

    --basic-milk-chocolate: #766357;
    --basic-chocolate: #604E43;
    --basic-dark-chocolate: #503E33;

    --basic-extra-light-grey: #EEEEEE;
    --basic-light-grey: #CACACA;
    --basic-neutral-grey: #BDBBBC;
    --basic-middle-grey: #A9A9A9;
    --basic-grey: #888888;
    --basic-neutral-dark-grey: #666666;
    --basic-dark-grey: #6A6A6A;
    --basic-extra-dark-grey: #333333;

    --basic-light-silver: #F2F2F2;
    --basic-silver: #EBEBEB;
    --basic-neutral-silver: #E5E5E5;
}

/* Global */

body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-extra-dark-grey);
    text-transform: uppercase;
    background-color: var(--basic-extra-light-grey);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
}

.center-container {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
    -ms-grid-rows: min-content 1fr min-content;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content 1fr min-content;
}

/* Main navigation */

.main-header {
    background-color: var(--basic-white);
    margin: auto;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    width: 100%;
    z-index: 1;
}

.main-navigation {
    text-align: center;
    background-color: var(--basic-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 55px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.main-navigation-logo {
    position: absolute;
    width: 138px;
    height: 70px;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.site-navigation {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 45%;
}

.site-navigation:first-child {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.site-navigation:last-child {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.site-navigation li {
    list-style-type: none;
    font-weight: bold;
    line-height: 26px;
    color: var(--basic-black);
    margin: auto 70px;
}

.current-nav-item {
    color: var(--basic-milk-chocolate);
}

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover {
    color: var(--basic-light-blue);
}

.site-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

/* Main content */

.container {
    background-color: var(--basic-white);
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 1;
    grid-column: 1;
}

.first-screen-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    text-align: center;
    min-height: 509px;
}

.first-screen-block > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.main-image {
    min-height: 100%;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    background-color: var(--basic-dark-blue);
}

.slogan-image {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    z-index: 1;
    margin: auto;
}

.decoration {
    z-index: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    margin: auto 0 0 0;
}

.reasons-container {
    text-align: center;
    vertical-align: middle;
    line-height: 26px;
}

.reasons-title-block {
    min-height: 214px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.reasons-list-title {
    font-weight: bold;
    font-size: 21px;
    color: var(--basic-black);
    margin-top: 10px;
}

.reasons-title-block p {
    padding-top: 16px;
}

.reasons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.reason-item {
    background-color: var(--basic-extra-light-grey);
    color: var(--basic-black);
    width: 33%;
    height: 256px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.reason-info {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.reason-image {
    height: 256px;
    background-color: var(--basic-milk-chocolate);
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.reason-image-revert {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.reason-item-with-image {
    background-color: var(--basic-light-blue);
    color: var(--basic-white);
    width: 100%;
}

.reason-title {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 15px;
}

.reason-info p {
    line-height: 21px;
    padding-bottom: 10px;
}

.recommendations-container {
    line-height: 26px;
    width: 100%;
}

.recommendations-list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 330px;
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.recommendation-item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 33%;
    height: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.recommendation-item p {
    line-height: 21px;
    padding-bottom: 10px;
}

.recommendation-item.recommendation-accommodation::before {
    content: "";
    width: 75px;
    height: 77px;
    background-image: url("../img/home-icon.svg");
    background-repeat: no-repeat;
    margin: 5px auto 0;
}

.recommendation-item.recommendation-foods::before {
    content: "";
    width: 75px;
    height: 77px;
    margin: 0 auto;
    background-image: url("../img/burger-icon.svg");
    background-repeat: no-repeat;
}

.recommendation-item.recommendation-souvenirs::before {
    content: "";
    width: 64px;
    height: 77px;
    margin: 0 auto;
    background-image: url("../img/present-icon.svg");
    background-repeat: no-repeat;
}

.recommendation-title {
    font-weight: bold;
    font-size: 21px;
    color: var(--basic-black);
    line-height: 21px;
    margin-bottom: 5px;
}

.search-title-block {
    text-align: center;
    color: var(--basic-black);
    padding: 40px 0 25px;
}

.search-container-title {
    font-size: 30px;
    line-height: 24px;
}

.search-title-block p {
    padding-top: 7px;
    line-height: 24px;
}

.search-form-container {
    width: 47%;
    margin: auto;
    position: relative;
}

.search-form-modal {
    padding: 55px 55px;
    -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
    position: absolute;
    background-color: var(--basic-white);
}

.search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.search-form-item {
    margin: 16px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.search-form-item:first-child {
    margin-top: 0;
}

.date-input-container {
    width: 100%;
}

.date-input-with-icon {
    width: 75%;
    position: relative;
}

.search-form-item input {
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    background-color: var(--basic-light-silver);
    border: 2px solid transparent;
    padding: 2px 0 2px 5px;
}

.date-input {
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.number-input-block input {
    width: 33%;
    text-align: center;
    padding-left: 0;
}

.date-input:hover {
    background-color: var(--basic-silver);
    border: 2px solid transparent;
}

.date-input:focus {
    background-color: var(--basic-white);
    border: 2px solid var(--basic-neutral-silver);
}

.number-input-block {
    width: 50%;
}

.number-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
}

.search-form-item label {
    font-weight: bold;
    width: 25%;
    line-height: 26px;
}

.number-input-block label {
    width: 50%;
}

.children-label {
    text-align: center;
}

.search-container-map {
    text-align: center;
    width: 100%;
    height: 594px;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
}

.search-container-map iframe {
    width: 100%;
    height: 594px;
    border: 0;
}

.filters-form-block {
    background-color: var(--basic-light-blue);
    background-image: url('../img/background-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 75%;
}

.filter-form h3 {
    margin: 0;
    text-align: start;
}

.filter-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 73px;
    color: var(--basic-white);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.infrastructure-filter-block {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px 0;
}

.accommodation-type-filter-block {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px 0;
}

.price-filter-block {
    width: 25%;
    padding: 30px 0;
    text-align: center;
}

.checkbox-list {
    list-style-type: none;
    padding: 0;
    margin: 30px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.checkbox-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.checkbox-block input {
    width: 23px;
    height: 23px;
    border: 2px solid var(--basic-white);
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 4px;
    margin: 0;
}

.checkbox-block input:focus {
    outline: none;
}

.checkbox-block input:checked {
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    border: none;
}

.checkbox-block label {
    margin-left: 15px;
}

.price-range-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 2px solid var(--basic-white);
    border-radius: 4px;
    justify-items: center;
    margin-top: 5px;
    position: relative;
}

.price-range {
    text-align: end;
    width: 50%;
    padding: 5px 0;
}

.price-range-block input {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--basic-white);
    width: 50%;
}

.price-line::after {
    content: "";
    border: 1px solid var(--basic-white);
    position: absolute;
    top: 3px;
    bottom: 3px;
}

.range-controls {
    position: relative;
    height: 30px;
    padding-top: 15px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--basic-white);
}

.range-controls .toggle {
    position: absolute;
    top: 5px;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--basic-middle-grey);
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 var(--basic-light-grey);
    box-shadow: 0 2px 1px 0 var(--basic-light-grey);
    cursor: pointer;
}

.range-controls .toggle-min {

}

.range-controls .toggle-max {
    left: 170px;
}

.sorting-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 73px;
    background-color: transparent;
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 69%;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 30px 0;
}

.sorting-switcher {
    width: 15%;
}

.sorting-arrows {
    position: absolute;
}

.sorting-arrows::before {
    content: '';
    position: absolute;
    left: 145px;
    bottom: -55px;
    border: 6px solid transparent;
    border-top: 10px solid var(--basic-light-grey);
}

.sorting-arrows::after {
    content: '';
    position: absolute;
    left: 125px;
    bottom: -50px;
    border: 6px solid transparent;
    border-bottom: 10px solid var(--basic-light-blue);
}

.sorting-arrows:focus::before {
    border-top: 10px solid var(--basic-light-blue);
}

.sorting-arrows:focus::after {
    border-bottom: 10px solid var(--basic-light-grey);
}

.total-offers {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    width: 16%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 0;
}

.sorting-title {
    margin: 0 20px 0 0;
}

.sorting-type {
    margin: auto 30px auto 0;
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dotted var(--basic-light-blue);
}

.sorting-type:hover {
    color: var(--basic-light-blue);
    border-bottom: 1px dotted var(--basic-light-blue);
}

.sorting-type:active {
    color: var(--basic-black);
    opacity: unset;
    border-bottom: 1px solid transparent;
}

.active {
    color: var(--basic-light-blue);
    opacity: unset;
    border-bottom: 1px solid transparent;
}

.offers-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.offers-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

.offer-item {
    border-bottom: 1px solid var(--basic-light-silver);
    padding: 30px 73px;
}

.offer-item:first-child {
    border-top: 1px solid var(--basic-light-silver);
}

.offer-item-content {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.offer-info {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.offer-item-photo {
    background-color: var(--basic-light-blue);
    margin-right: 30px;
}

.offer-item-name {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    margin: 0;
    width: 100%;
}

.offer-flex-column {
    margin-right: 5px;
}

.offer-item-name:hover {
    color: var(--basic-light-blue);
}

.offer-item-name:active {
    opacity: 0.3;
}

.offer-item-type {
    color: var(--basic-extra-dark-grey);
}

.offer-item-price {
    color: var(--basic-extra-dark-grey);
}

.rating-block {
    width: 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.rating-stars {
    width: 100%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.rating-stars li {
    padding-left: 5px;
}

.rating {
    margin: 0;
    color: var(--basic-neutral-dark-grey);
    padding: 3px 13px;
    background-color: var(--basic-light-silver);
    -ms-flex-item-align: end;
    align-self: flex-end;
}

/* Footer */

.main-footer {
    color: var(--basic-black);
    line-height: 26px;
    opacity: 0.9;
    background-color: var(--basic-white);
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 55px 15px;
}

.hotel-page .main-footer {
    -ms-grid-row: 4;
    grid-row: 4;
    opacity: unset;
}

.footer-contacts {
    font-weight: bold;
    text-align: center;
    font-size: 21px;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.footer-contacts p {
    line-height: 26px;
}

.footer-contacts a {
    color: var(--basic-black);
    line-height: 26px;
}

.hashtag {
    margin-top: 26px;
    margin-bottom: 0;
}

.tel {
    margin-top: 10px;
}

.footer-social {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
}

.footer-social-list {
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-social-list li {
    margin-right: 6px;
    padding-top: 15px;
}

.footer-copyright {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
}

.footer-copyright p {
    line-height: 26px;
    margin: 0;
    text-align: center;
    padding-bottom: 5px;
}

.copyright-link {
    color: var(--basic-black);
}

.copyright-link svg {
    -webkit-transform: translate(5px, 15px);
    -ms-transform: translate(5px, 15px);
    transform: translate(5px, 15px);
}

.copyright-link:hover {
    color: var(--basic-blue);
}

.copyright-link:active {
    color: var(--basic-neutral-grey);
}

/* Buttons */

.button {
    background-color: var(--basic-grey);
    text-align: center;
    color: var(--basic-white);
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.primary-button {
    background-color: var(--basic-milk-chocolate);
}

.primary-button:hover {
    background-color: var(--basic-chocolate);
}

.primary-button:active {
    background-color: var(--basic-dark-chocolate);
}

.primary-button:active .button-text {
    opacity: 30%;
}

.secondary-button {
    background-color: var(--basic-light-blue);
}

.secondary-button:hover {
    background-color: var(--basic-blue);
}

.secondary-button:active {
    background-color: var(--basic-dark-blue);
}

.secondary-button:active .button-text {
    opacity: 30%;
}

.search-button {
    font-size: 21px;
    line-height: 26px;
    padding: 16px 0;
    margin-top: 40px;
    width: 100%;
}

.form-trigger {
    font-size: 21px;
    line-height: 26px;
    padding: 30px 30px;
    width: 100%;
}

.more-info-button {
    padding: 3px 16px;
}

.book-button {
    padding: 3px 16px;
}

.line-ghost-button {
    background-color: unset;
    opacity: 100%;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
}

.line-ghost-button:hover {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.filter-button {
    padding: 7px 35px;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: var(--basic-light-blue);
    color: inherit;
    padding: 0;
}

.number-input-button {
    text-align: center;
    background-color: var(--basic-light-silver);
    padding: 6px 0;
    width: 33%;
}

/*Icons*/

.minus {
    padding-top: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="date"]::-webkit-date-and-time-value {
    color: black;
}

.calendar-icon {
    width: 21px;
    height: 23px;
    position: absolute;
    left: 310px;
    bottom: 5px;
}

.date-input-with-icon:hover path {
    fill: var(--basic-black);
}

.date-input-with-icon:active path {
    fill: var(--basic-light-blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button:hover .clickable-svg {
    fill: var(--basic-black);
}

button:active .clickable-svg {
    fill: var(--basic-light-blue);
}

.copyright-link:hover path {
    fill: var(--basic-light-blue);
}

.copyright-link:active path {
    fill: var(--basic-neutral-grey);
}